* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-size: 1em;
  background-color: #dadada;
  min-width: 400px;
  width: 100%;
}
h1 {
  color: #363062;
  height: 250px;
  margin: 0;
  font-size: 5rem;
  font-weight: 500;
  line-height: 4;
  font-family: "Dancing Script", cursive;
}
h2 {
  color: #1c2938;
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
  color: #2e6e65;
  font-family: "Space Mono", monospace;
}
p {
  font-size: 1.5rem;
  color: #041562;
  font-weight: 550;
  margin: 0;
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.row {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.top {
  padding: 10px;
}
.mid {
  padding: 10px;
}
.bottom {
  background-color: #ef7e56;
  padding: 50px 0 20px;
  width: 100%;
}
.profile {
  width: 50%;
  padding: 10px;
  margin: 60px auto;
  text-align: left;
  line-height: 2;
}
.profile_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 80px;
  line-height: 1.5;
}
.profile_1 {
  flex: 25%;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  margin-right: 30px;
}
.profile_2 {
  flex: 25%;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  margin-right: 30px;
}
.img {
  float: left;
  margin-right: 30px;
  height: 50px;
  width: 50px;
}
.contact-me {
  padding: 10px 0;
}
.click {
  height: 40px;
  width: 40px;
}
.btn {
  background: #272e4f;
  background-image: -webkit-linear-gradient(top, #272e4f, #2c365d);
  background-image: -moz-linear-gradient(top, #272e4f, #2c365d);
  background-image: -ms-linear-gradient(top, #272e4f, #2c365d);
  background-image: -o-linear-gradient(top, #272e4f, #2c365d);
  background-image: linear-gradient(to bottom, #272e4f, #2c365d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Dancing Script", cursive;
  color: #c69749;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #272e4f;
  background-image: -webkit-linear-gradient(top, #272e4f, #9ea1f9);
  background-image: -moz-linear-gradient(top, #272e4f, #9ea1f9);
  background-image: -ms-linear-gradient(top, #272e4f, #9ea1f9);
  background-image: -o-linear-gradient(top, #272e4f, #9ea1f9);
  background-image: linear-gradient(to bottom, #272e4f, #9ea1f9);
  text-decoration: none;
}
.footer-link {
  color: #000000;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}
.footer-link:hover {
  color: #ff6e31;
}
.usr {
  color: #37306b;
  margin-top: 20px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
@media (max-width: 1245px) {
  .profile_flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 10px;
    line-height: 1.5;
  }
  .click{
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .img {
    width: 35px;
    height: 35px;
  }
  .click{
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 160px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.5rem;
  }
  .img {
    width: 25px;
    height: 25px;
  }
}
